.footer-container {
    background-color: #D2232A !important;
    box-shadow: inset 0px -26px 79px -8px rgba(0, 0, 0, 0.58);
}

.footer-logo {
    width: 180px;
    height: 100%;
}

.social-media-tag a {
    font-size: 2em;
    color: black;
    transition: 0.3s all;
}

.social-media-tag a:hover {
    color: #cea135;
}