{% extends 'base.html' %}
{% load static %}

{% block head_content %}

<title>About Us</title>

{% endblock %}



{% block content %}

<!-- Main body -->

<!-- About section -->
<div class="container-fluid bg-dark bg-gradient px-0">
    <!-- Page heading -->
    <div class="container-fluid py-5 heading-style">
        <div class="container">
            <div class="row">
                <h1>Who Is Hyco?</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row py-5 justify-content-between">
            <div class="col-4">
                <img src="{% static 'images/logos/HYCO_logo variations_editable_type_nohyco_70_MDK.png' %}" class="rounded img-fluid" alt="...">
            </div>
            <div class="col-6">
                <h1 class="text-light">We Love Cars.</h1>
                <p class="fs-5 lh-base text-light">Hyco Motorsports is a family owned and family run business operating out of Monroe Wisconsin. We own a fleet of refurbished cars ranging from ... to ... It is our passion to assist your love of cars by offering vehicles for sale or rental. Additionally, we want to help you take care of your own. We offer climate controlled storage options as well as in house maintenance, detailing, and paint correction services. Let us help you fulfill your passion for cars.</p>
            </div>
        </div>
        <div class="row justify-content-between py-5">
            <div class="col-auto">
                <h1 class="text-light">Buy it.</h1>
            </div>
            <div class="col-auto">
                <h1 class="text-light">Rent it.</h1>
            </div>
            <div class="col-auto">
                <h1 class="text-light">Store it.</h1>
            </div>
            <div class="col-auto">
                <h1 class="text-light">Detail it.</h1>
            </div>
        </div>
    </div>
</div>

{% include 'components/social_media.html' %}
{% include 'components/contact_form.html' %}

{% endblock %}