{% extends 'base.html' %}
{% load static %}

{% block head_content %}

<title>Detaling/Paint Correction</title>

{% endblock %}



{% block content %}

<!-- Main body -->
<!-- Page heading -->
<div class="container-fluid py-5 heading-style">
    <div class="container">
        <div class="row">
            <h1>Detailing and Paint Correction</h1>
        </div>
    </div>
</div>

<!-- Rentals section -->
<div class="container-fluid bg-dark bg-gradient">
    <div class="containter text-light">
        <div class="row py-5 justify-content-center">
            <div class="col-auto">
                <h1>Stay Tuned! We're Currently Under Construction.</h1>
            </div>
        </div>
    </div>
</div>


{% include 'components/contact_form.html' %}

{% endblock %}