{% extends 'base.html' %}
{% load static %}

{% block head_content %}

<title>Storage</title>

{% endblock %}



{% block content %}

<!-- Main body -->
<!-- Page heading -->
<div class="container-fluid py-5 heading-style">
    <div class="container">
        <div class="row">
            <h1>Storage</h1>
        </div>
    </div>
</div>

<!-- Rentals section -->
<div class="container-fluid">
    <div class="containter text-dark">
        <div class="row py-5 justify-content-center">
            <div class="col-auto">
                <h1><i class="fas fa-toolbox"></i> Stay Tuned! We're Currently Under Construction.</h1>
            </div>
        </div>
    </div>
</div>

{% include 'components/social_media.html' %}
{% include 'components/contact_form.html' %}

{% endblock %}