{% extends 'base.html' %}
{% load static %}

{% block head_content %}

<title>Vehicle Sales</title>

{% endblock %}



{% block content %}

<!-- Main body -->
<div class="container-fluid car-card-container">
  <div class="container">
      <div class="row">
          <div class="col">
              <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                  {% for vehicle in all_vehicles %}
                      <div class="col p-5">
                          <div class="card" style="width: 20rem;">
                              <!-- <img src="{% static 'images/background/land_rover.jpg' %}" class="card-img-top" alt="..."> -->
                              <div id="carouselExampleControls{{ forloop.counter }}" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active" data-bs-interval="100000">
                                    <img src="{% static 'images/background/land_rover.jpg' %}" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item" data-bs-interval="100000">
                                    <img src="{% static 'images/background/land_rover.jpg' %}" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item" data-bs-interval="100000">
                                    <img src="{% static 'images/background/land_rover.jpg' %}" class="d-block w-100" alt="...">
                                  </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls{{ forloop.counter }}" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls{{ forloop.counter }}" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Next</span>
                                </button>
                              </div>
                              <div class="card-body">
                                <h5 class="card-title">{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}</h5>
                                <div class="row">
                                  <div class="btn-group" role="group" aria-label="Basic outlined example">
                                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseExample">See History</button>
                                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#carModal{{ forloop.counter }}">See Details</button>
                                  </div>
                                </div>
                                <div class="collapse" id="collapse{{ forloop.counter }}">
                                  <div class="card card-body history-card">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit maiores consequatur ipsa?
                                  </div>
                                </div>
                              </div>
                              <ul class="list-group list-group-flush">         
                                  <li class="list-group-item"><i class="fas fa-car"></i>Make: {{ vehicle.make }}</li>
                                  <li class="list-group-item"><i class="fas fa-cogs"></i>Model: {{ vehicle.model }}</li>
                                  <li class="list-group-item"><i class="fas fa-history"></i>Year: {{ vehicle.year }}</li>
                                  <li class="list-group-item"><i class="fas fa-fill-drip"></i>Color: {{ vehicle.exterior_color }}</li>
                                  <li class="list-group-item"><i class="fas fa-magic"></i>Interior: {{ vehicle.interior }}</li>
                                  <li class="list-group-item"><i class="fas fa-dollar-sign"></i>Price: ${{ vehicle.listing_price }}</li>                   
                              </ul>
                          </div>
                      </div>
                

                      <!-- Modal -->
                      <div class="modal fade" id="carModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-xl">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel{{ forloop.counter }}"></h5>
                              <button type="button" class="btn-close text-danger" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="images p-3">
                                      <div class="text-center p-4"> <img class="img-fluid" id="main-image{{ forloop.counter }}" src="{% static 'images/background/land_rover.jpg' %}" width="500" /> </div>
                                      <div class="thumbnail text-center"> <img onclick="change_image(this, {{ forloop.counter }})" src="{% static 'images/background/land_rover.jpg' %}" width="70"> <img onclick="change_image(this, {{ forloop.counter }})" src="{% static 'images/miscellaneous/viper.jpg' %}" width="70"> </div>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="row">
                                    <h1>{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}</h1>
                                  </div>
                                  <div class="row py-5">
                                    <ul class="list-group list-group-flush">
                                      <li class="list-group-item"><i class="fas fa-car"></i> {{ vehicle.make }}</li>
                                      <li class="list-group-item"><i class="fas fa-cogs"></i> {{ vehicle.model }}</li>
                                      <li class="list-group-item"><i class="fas fa-history"></i> {{ vehicle.year }}</li>
                                      <li class="list-group-item"><i class="fas fa-fill-drip"></i> {{ vehicle.exterior_color }}</li>
                                      <li class="list-group-item"><i class="fas fa-magic"></i> {{ vehicle.interior }}</li>
                                      <li class="list-group-item"><i class="fas fa-dollar-sign"></i> ${{ vehicle.listing_price }}</li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                  {% endfor %}
              </div>
          </div>
      </div>
  </div>
</div>

<!-- JS files -->
<script src="{% static 'javascript/car-modal.js' %}"></script>

{% endblock %}
