.list-group-item i {
    width: 25px;
    margin: 0px 10px;
}

.card {
    box-shadow: 10px 8px 6px 0px rgba(0, 0, 0, 0.2);
    background-color: #F4F3F3;
}

.history-card {
    box-shadow: none;
    background-color: transparent;
    border: none;
}

.vehicle-sales-container {
    background-image: url('../images/background/land_rover.jpg'); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.filter-style {
    background-color: #F4F3F3;
    box-shadow: inset 0px -26px 79px -8px rgba(0, 0, 0, 0.58);
    border-radius: 5px;
}

.form-select-style {
    background-color: #F4F3F3;
}