{% load static %}

<div class="container-fluid footer-container">
    <div class="row justify-content-around align-items-center">
        <div class="col-auto">
            <div class="row justify-content-start">
                <div class="col-auto">
                    <p><i class="fas fa-map-marker-alt"></i> 245 Horizon Drive <br>
                        Verona, WI 53593</p>
                </div>
            </div>
            <div class="row justify-content-start">
                <div class="col-auto">
                    <p><i class="fas fa-phone"></i> (555) 555-5555</p>
                </div>
            </div>
            <div class="row justify-content-start">
                <div class="col-auto">
                    <p><i class="fas fa-clock"></i> 10AM - 5PM</p>
                </div>
            </div>
        </div>
        <div class="col-auto justify-content-center">
            <div class="row justify-content-center align-items-center py-2">
                <img src="{% static 'images/logos/HYCO_logo variations_editable_type_nohyco_MDK.png' %}" alt="Logo" class="footer-logo">
            </div>

            <div class="row text-center">
                <p><i class="far fa-copyright"></i> HYCO Motorsports LLC</p>
            </div>
        </div>
        <div class="col-auto">
            <div class="row justify-content-end">
                <div class="col-auto text-center social-media-tag">
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
                <div class="col-auto text-center social-media-tag">
                    <a href="#">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </div>
                <div class="col-auto text-center social-media-tag">
                    <a href="#">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>