{% load static %}

<div class="container-fluid social-media-container">
    <div class="container">
        <div class="row justify-content-center align-items-center py-3">
            <div class="col-auto">
                <h1>Follow us on social media!</h1>
            </div>
        </div>
        <div class="row justify-content-center py-4">
            <div class="col-auto social-media-box px-4">
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <div class="col-auto social-media-box px-4">
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
            <div class="col-auto social-media-box px-4">
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>
    </div>
</div>